.formControl.error input,
.formControl.error textarea {
    border: 2px red solid;

}

.formControl.error input:focus,
.formControl.error textarea:focus {
    outline: none;
}

.formControl{
    position: relative;
}

.formControl.error div{
    width: 100%;
    display: block;
    color: red;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.error_message{
    position: absolute;
    word-wrap: break-word;
    left:50%;
    transform: translateX(-50%);
    top: 90%;
    z-index: 10;
}



