.content_header{
    /*margin-top: 0.5%;*/

    /*composes: app-wrapper-content from '../../App.css';*/
    border-style-top: solid;
    border-top-color: #343841;
    background: linear-gradient(to bottom,  rgba(109,86,112,1) 0%,rgba(110,87,113,1) 2%,rgba(112,89,115,1) 2%,rgba(114,91,117,1) 4%,rgba(113,90,116,1) 5%,rgba(120,97,123,1) 8%,rgba(131,105,130,1) 17%,rgba(137,111,136,1) 20%,rgba(144,116,139,1) 25%,rgba(146,118,141,1) 25%,rgba(146,118,141,1) 26%,rgba(148,120,143,1) 26%,rgba(149,119,143,1) 27%,rgba(159,130,152,1) 34%,rgba(161,129,150,1) 35%,rgba(163,131,152,1) 35%,rgba(167,136,154,1) 39%,rgba(169,138,156,1) 39%,rgba(169,138,156,1) 40%,rgba(171,140,158,1) 40%,rgba(172,139,156,1) 41%,rgba(175,142,159,1) 43%,rgba(175,143,158,1) 44%,rgba(177,145,160,1) 44%,rgba(178,144,160,1) 45%,rgba(181,147,163,1) 45%,rgba(181,147,161,1) 47%,rgba(183,149,163,1) 47%,rgba(184,150,164,1) 48%,rgba(188,152,164,1) 49%,rgba(188,152,162,1) 50%,rgba(190,154,164,1) 50%,rgba(194,157,164,1) 54%,rgba(197,160,167,1) 55%,rgba(196,160,164,1) 55%,rgba(196,160,164,1) 56%,rgba(204,165,166,1) 59%,rgba(204,167,161,1) 60%,rgba(210,172,163,1) 64%,rgba(213,174,157,1) 66%,rgba(214,174,162,1) 67%,rgba(214,175,158,1) 67%,rgba(219,176,157,1) 69%,rgba(219,177,153,1) 70%,rgba(221,179,155,1) 71%,rgba(224,179,150,1) 73%,rgba(227,182,151,1) 73%,rgba(226,181,148,1) 74%,rgba(228,182,148,1) 76%,rgba(229,184,143,1) 77%,rgba(230,186,141,1) 79%,rgba(232,185,143,1) 79%,rgba(232,185,139,1) 80%,rgba(234,187,135,1) 83%,rgba(233,186,130,1) 84%,rgba(235,185,132,1) 85%,rgba(233,187,128,1) 86%,rgba(237,185,125,1) 87%,rgba(235,184,119,1) 88%,rgba(238,183,119,1) 88%,rgba(234,179,112,1) 89%,rgba(236,178,114,1) 90%,rgba(235,175,105,1) 91%,rgba(236,173,102,1) 92%,rgba(235,168,100,1) 93%,rgba(230,157,89,1) 95%,rgba(229,154,89,1) 95%,rgba(231,153,91,1) 95%,rgba(227,149,87,1) 96%,rgba(226,146,87,1) 96%,rgba(220,138,82,1) 97%,rgba(215,127,77,1) 98%,rgba(211,120,76,1) 98%,rgba(207,118,76,1) 98%,rgba(201,112,72,1) 99%,rgba(198,108,71,1) 99%,rgba(192,102,68,1) 100%,rgba(187,98,66,1) 100%,rgba(185,96,66,1) 100%,rgba(175,85,58,1) 100%);

    min-height: 30vh;
}

.profileInfo{
    margin-left: 5%;
}

.profileInfo img{
    margin-top: -5%;
    border-radius: 50%;
}
